* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trybewarts-header-logo {
  display: flex;
  width: 50px;
}

.trybewarts-login {
  display: flex;
  height: 25px;
}

.container {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family {
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
}

